In [1]:
import pandas as pd
from pathlib import Path
from transform import get_cumulative

In [2]:
# directory = Path("C:/python_projects/github_repos/openbudget/data/api_response/2020/EXPENSES/3")
# files = [directory / file_name for file_name in directory.glob("*.json")]

# cumdict = get_cumulative(files, item_type="EXPENSES")
# processed = pd.read_csv("./../data/tables/2020/EXPENSES/3.csv", dtype={"ADMIN": str, "ECON":str})

In [3]:
# test = cumdict[1]

---

In [5]:
# доходи 2020
inc_old = pd.read_csv("./../data/tables/2020/INC_2020.csv", dtype={"ADMIN": str, "INCO":str})
inc_new = pd.read_csv("./../data/tables/2020/INCOMES_2020.csv", dtype={"ADMIN": str, "INCO":str})

test1 = inc_new.loc[
    inc_new["ADMIN"].eq("10518000000") & inc_new["INCO"].eq("10000000")
]

test2 = inc_old.loc[
    inc_old["ADMIN"].eq("10518000000") & inc_old["INCO"].eq("10000000")
]

assert test1["EXECUTED"].sum() == test2["EXECUTED"].sum()

validation = pd.read_csv("./../data/tables/2020/INCOMES/10.csv", dtype={"ADMIN": str, "INCO":str})

validate_filter = validation.loc[
    validation["ADMIN"].eq("10518000000") & validation["INCO"].eq("10000000")
]

assert validate_filter["EXECUTED"].sum() == test1["EXECUTED"].sum()

In [2]:
# видатки 2020
old = pd.read_csv("./../data/tables/2020/EXP_2020.csv", dtype={"ADMIN": str, "ECON":str})
new = pd.read_csv("./../data/tables/2020/EXPENSES_2020.csv", dtype={"ADMIN": str, "ECON":str})

test1 = new.loc[
    new["ADMIN"].eq("10518000000") & new["ECON"].ne("0000")
]

test2 = old.loc[
    old["ADMIN"].eq("10518000000") & old["ECON"].ne("0")
]

assert test1["EXECUTED"].sum() == test2["EXECUTED"].sum()

validate = pd.read_csv("./../data/tables/2020/EXPENSES/10.csv", dtype={"ADMIN": str, "ECON":str})

validate_filter = validate.loc[
    validate["ADMIN"].eq("10518000000") & validate["ECON"].ne("0000")
]

assert validate_filter["EXECUTED"].sum() == test1["EXECUTED"].sum()

---

In [19]:
# видатки 2019
validate = pd.read_csv("./../data/tables/2019/EXPENSES/13.csv", dtype={"ADMIN": str, "ECON":str})

validate.loc[
    validate["ADMIN"].eq("13540000000") &
    validate["ECON"].eq("0000") &
    ~(validate["DATE"].isin(["2019-11-01", "2019-12-01"]))
]["EXECUTED"].sum()

In [25]:
# доходи 2019
validate = pd.read_csv("./../data/tables/2019/INCOMES/12.csv", dtype={"ADMIN": str, "INCO":str})

validate.loc[
    validate["ADMIN"].eq("12509000000") &
    validate["INCO"].eq("10000000") &
    ~(validate["DATE"].isin(["2019-11-01", "2019-12-01"]))
]["EXECUTED"].sum()

9118012.510000002

---

In [29]:
# видатки 2018
validate = pd.read_csv("./../data/tables/2018/EXPENSES/7.csv", dtype={"ADMIN": str, "ECON":str})

validate.loc[
    validate["ADMIN"].eq("07506000000") &
    validate["ECON"].eq("0000") &
    ~(validate["DATE"].isin(["2018-11-01", "2018-12-01"]))
]["EXECUTED"].sum()

59708926.28

In [32]:
# доходи 2018
validate = pd.read_csv("./../data/tables/2018/INCOMES/5.csv", dtype={"ADMIN": str, "INCO":str})

validate.loc[
    validate["ADMIN"].eq("05509000000") &
    validate["INCO"].eq("10000000") &
    ~(validate["DATE"].isin(["2018-11-01", "2018-12-01"]))
]["EXECUTED"].sum()

25575116.290000003

In [31]:
validate

,ADMIN,FIN_SOURCE,INCO,ADJUSTED,EXECUTED,DATE
0,05509000000,S,25020000,0.000000e+00,1.634000e+01,2018-01-01
1,05509000000,S,25010000,6.600000e+04,2.320800e+03,2018-01-01
2,05509000000,S,25000000,6.600000e+04,2.337140e+03,2018-01-01
3,05509000000,S,21110000,4.228000e+05,0.000000e+00,2018-01-01
4,05509000000,S,21000000,4.228000e+05,0.000000e+00,2018-01-01
...,...,...,...,...,...,...
173745,05000000000,C,11010200,3.861219e+06,5.154765e+07,2018-12-01
173746,05000000000,C,11010100,-3.601166e+07,7.158682e+08,2018-12-01
173747,05000000000,C,11010000,-2.272183e+07,8.230023e+08,2018-12-01
173748,05000000000,C,11000000,-2.181819e+07,8.492955e+08,2018-12-01
173749,05000000000,C,10000000,-2.757485e+07,1.004090e+09,2018-12-01